/*selector{
    propiedad:valor;
}*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HOME
*/

body{
    background-color: white;
}


header{
    background-color:rgb(101, 123, 136) ;
    margin-top: 0;
    padding: 10x;
    
    
}









nav{
    display: flex;
    width: 100%;
    
}

ul{
    display: flex;
    width: 100%;
    justify-content: end;
   
    
    

}

li{
    padding: 40px 20px 40px 20px;
    margin-top: 20px;
    display: inline-block;
    
    

}

.loguito{
    width: 140px;
    margin-top: 20px;
    margin-left: 30px;
    
    
}



footer{
    background-color:rgb(101, 123, 136) ;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 90px;
    
}


.imgCentral {
    width: 100%;
    margin-top: 50px;

}



.encabezado{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
    
    
}

.lista{
    text-decoration: none;
    color: rgb(101, 123, 136);
    font-family: Arial, Helvetica, sans-serif;

    
    
}

.motivacion{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(101, 123, 136);
    display: flex;
    justify-content: center;
}

h1{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(101, 123, 136);
    display: flex;
    justify-content: center;
    padding: 30px;
}

hr{
    
    color: rgb(101, 123, 136);
    width: 100%;
    
    
}



section{
    margin-top: 80px;

}



.redesSociales{
display: flex;
justify-content: center;

}


.video{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


/* NOSOTROS CON GRIDS*/

.seccionProfesionales{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 4fr 4fr 4fr;
    grid-template-areas:
    "doc1 doc2 doc3"
    "doc4 doc5 doc6"
    ;
    row-gap: 50px;
    justify-items: center;

}

.doctor1{
    grid-area: doc1;
}

.doctor2{
    grid-area: doc2;
}

.doctor3{
    grid-area: doc3;
}

.doctor4{
    grid-area: doc4;
}

.doctor5{
    grid-area: doc5;
}

.doctor6{
    grid-area: doc6;
}




/* ANIMACIONES NOSOTROS */

.doctor1:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    overflow: hidden;
    
    }

.doctor2:hover {
-webkit-transform: scale(1.3);
transform: scale(1.3);
overflow: hidden;

}

.doctor3:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    overflow: hidden;
    
    }

    .doctor4:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        overflow: hidden;
        
        }
    
    .doctor5:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    overflow: hidden;
    
    }
    
    .doctor6:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        overflow: hidden;
        
        }